.row{
    margin-top:15% ;
   
}
.col-md-4{
    background-image: url(img2.jpg);
    align-self: center;
}
.rr{
    margin-left: 10px;
}
h2{
    text-align: center;
    color: azure;
}
button{
 margin-right: 10px;
}
